/* rivercory 폰트 모음 | Version 1.2.14 */
/* rivercory font assets | Version 1.2.14 */

/* 프리텐다드 https://noonnu.cc/font_page/694 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 아임크리수진체 https://noonnu.cc/font_page/441 */
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어드림 https://noonnu.cc/font_page/223 */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 고도체 https://noonnu.cc/font_page/1 */
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

/* 스위트 https://noonnu.cc/font_page/1150 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 수트 https://noonnu.cc/font_page/845 */
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 나눔바른고딕 https://noonnu.cc/font_page/36 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* 나눔스퀘어 네오 https://noonnu.cc/font_page/1053 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* LINE Seed https://noonnu.cc/font_page/1050 */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 조선일보명조체 https://noonnu.cc/font_page/63 */
@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 엘리스디지털배움체 https://noonnu.cc/font_page/671 */
@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 페이북 글꼴 https://noonnu.cc/font_page/452 */
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 카페24 아네모네 에어 https://noonnu.cc/font_page/852 */
@font-face {
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* IBM Plex Sans https://noonnu.cc/font_page/448 */
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 우주 https://noonnu.cc/font_page/1223 */
@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* D2Coding https://noonnu.cc/font_page/92 */
@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 넥슨 Lv.1 고딕 https://noonnu.cc/font_page/432 */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 넥슨 Lv.2 고딕 https://noonnu.cc/font_page/435 */
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 베이글팻 https://noonnu.cc/font_page/1345 */
@font-face {
  font-family: 'BagelFatOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 뜀틀 https://noonnu.cc/font_page/1314 */
@font-face {
  font-family: 'TTHakgyoansimTtwimteulR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimTtwimteulR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 운동장 https://noonnu.cc/font_page/1316 */
@font-face {
  font-family: 'TTHakgyoansimUndongjangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* 런드리고딕 https://noonnu.cc/font_page/1359 */
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 와구리체 https://noonnu.cc/font_page/1353 */
@font-face {
  font-family: 'WAGURITTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 온글잎 매일옥자체 https://noonnu.cc/font_page/1351 */
@font-face {
  font-family: 'Ownglyph_Dailyokja-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* KCC한빛체 https://noonnu.cc/font_page/1358 */
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Gmarket Sans https://noonnu.cc/font_page/366 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 여기어때 잘난체 고딕 https://noonnu.cc/font_page/1254 */
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 롯데리아 촵땡겨체 https://noonnu.cc/font_page/1100 */
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 롯데리아 딱붙어체 https://noonnu.cc/font_page/1101 */
@font-face {
  font-family: 'LOTTERIADDAG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 물결 https://noonnu.cc/font_page/1307 */
@font-face {
  font-family: 'TTHakgyoansimMulgyeolB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 학교안심 산뜻돋움 https://noonnu.cc/font_page/1221 */
@font-face {
  font-family: 'HakgyoansimSantteutdotumL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* 학교안심 산뜻바탕 https://noonnu.cc/font_page/1219 */
@font-face {
  font-family: 'HakgyoansimSantteutbatangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutbatangL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* 영주선비체 https://noonnu.cc/font_page/1355 */
@font-face {
  font-family: 'YEONGJUSeonbiTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 오뮤 다예쁨체 https://noonnu.cc/font_page/1136 */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 강원교육모두체 https://noonnu.cc/font_page/802 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 나무 https://noonnu.cc/font_page/1309 */
@font-face {
  font-family: 'TTHakgyoansimNamuL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimNamuL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* 티몬체 https://noonnu.cc/font_page/72 */
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 더잠실체 https://noonnu.cc/font_page/1127 */
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 학교안심 몽글몽글 https://noonnu.cc/font_page/1306 */
@font-face {
  font-family: 'TTHakgyoansimMonggeulmonggeulR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 가석체 https://noonnu.cc/font_page/1347 */
@font-face {
  font-family: 'GasoekOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GasoekOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 국민연금체 https://noonnu.cc/font_page/1239 */
@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 잉크립퀴드체 https://noonnu.cc/font_page/68 */
@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 지우개 https://noonnu.cc/font_page/1299 */
@font-face {
  font-family: 'TTHakgyoansimJiugaeR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 곧은제목 https://noonnu.cc/font_page/1215 */
@font-face {
  font-family: 'HakgyoansimGodeunjemokB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGodeunjemokB.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 학교안심 꼬꼬마 https://noonnu.cc/font_page/1300 */
@font-face {
  font-family: 'TTHakgyoansimKkokkomaR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkokkomaR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 모험가 https://noonnu.cc/font_page/1304 */
@font-face {
  font-family: 'TTHakgyoansimMoheomgaB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMoheomgaB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 학교안심 붓펜 https://noonnu.cc/font_page/1206 */
@font-face {
  font-family: 'HakgyoansimButpenB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimButpenB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 프리젠테이션 https://noonnu.cc/font_page/1369 */
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* 인천교육자람체 https://noonnu.cc/font_page/1226 */
@font-face {
  font-family: 'iceJaram-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 인천교육소통체 https://noonnu.cc/font_page/1228 */
@font-face {
  font-family: 'iceSotong-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceSotong-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 인천교육시민체 https://noonnu.cc/font_page/1227 */
@font-face {
  font-family: 'iceSimin-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceSimin-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 인천교육힘찬체 https://noonnu.cc/font_page/1225 */
@font-face {
  font-family: 'iceHimchan-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Rix이누아리두리네 https://noonnu.cc/font_page/962 */
@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* KBO 다이아고딕체 https://noonnu.cc/font_page/1146 */
@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* 원스토어 모바일POP체 https://noonnu.cc/font_page/676 */
@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 원스토어 모바일고딕 본문체 https://noonnu.cc/font_page/677 */
@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 원스토어 모바일고딕 제목체 https://noonnu.cc/font_page/678 */
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 산하엽 https://noonnu.cc/font_page/1346 */
@font-face {
  font-family: 'Diphylleia-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 던파 비트비트체 v2 https://noonnu.cc/font_page/1233 */
@font-face {
  font-family: 'DNFBitBitv2';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

/* 던파 연단된 칼날 https://noonnu.cc/font_page/1231 */
@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

/* 던파 비트비트체 https://noonnu.cc/font_page/1043 */
@font-face {
  font-family: 'bitbit';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

/* 부크크 명조 https://noonnu.cc/font_page/1084 */
@font-face {
  font-family: 'BookkMyungjo-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 부크크 고딕 https://noonnu.cc/font_page/1082 */
@font-face {
  font-family: 'BookkGothic-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 강원교육튼튼체 https://noonnu.cc/font_page/805 */
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 강원교육새음체 https://noonnu.cc/font_page/806 */
@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 강원교육현옥샘체 https://noonnu.cc/font_page/804 */
@font-face {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 시원한 설레임체 https://noonnu.cc/font_page/1290 */
@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 능소화 https://noonnu.cc/font_page/1348 */
@font-face {
  font-family: 'GrandifloraOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GrandifloraOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 속초바다 돋움체 https://noonnu.cc/font_page/1339 */
@font-face {
  font-family: 'SokchoBadaDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 속초바다 바탕체 https://noonnu.cc/font_page/1337 */
@font-face {
  font-family: 'SokchoBadaBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 속초바다 손글씨체 https://noonnu.cc/font_page/1338 */
@font-face {
  font-family: 'SokchoBadaCalligraphy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaCalligraphy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 이사만루 https://noonnu.cc/font_page/463 */
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 모이라이 https://noonnu.cc/font_page/1349 */
@font-face {
  font-family: 'MoiraiOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/MoiraiOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 웨이브 파도체 https://noonnu.cc/font_page/1370 */
@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 검은고딕 https://noonnu.cc/font_page/106 */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');

/* 나눔스퀘어 https://noonnu.cc/font_page/37 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 나눔고딕 https://noonnu.cc/font_page/39 */
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/* 본고딕(Noto Sans) https://noonnu.cc/font_page/34 */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* JetBrains Mono https://fonts.google.com/specimen/JetBrains+Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

/* Figtree https://fonts.google.com/specimen/Figtree */
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

/* 나눔고딕코딩 https://noonnu.cc/font_page/40 */
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

/* Anta https://fonts.google.com/specimen/Anta */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Raleway https://fonts.google.com/specimen/Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Raleway Dots https://fonts.google.com/specimen/Raleway+Dots */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

/* Montserrat https://fonts.google.com/specimen/Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Poor Story https://fonts.google.com/specimen/Poor+Story */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* Madimi One https://fonts.google.com/specimen/Madimi+One */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/* Reddit Mono https://fonts.google.com/specimen/Reddit+Mono */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

/* Rubik Scribble https://fonts.google.com/specimen/Rubik+Scribble */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

/* Nunito Sans https://fonts.google.com/specimen/Nunito+Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Oswald https://fonts.google.com/specimen/Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Workbench https://fonts.google.com/specimen/Workbench */
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* Jersey 10 Charted https://fonts.google.com/specimen/Jersey+10+Charted */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');

/* Micro 5 Charted https://fonts.google.com/specimen/Micro+5+Charted */
@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap');

/* Platypi https://fonts.google.com/specimen/Platypi */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

/* 프리텐다드 */
.pretendard {
  font-family: 'Pretendard-Regular', Arial;
}

/* 아임크리수진 */
.imcresoojin {
  font-family: 'ImcreSoojin', Arial;
}

/* 에스코어드림 */
.scoredream {
  font-family: 'S-CoreDream-3Light', Arial;
}

/* 고도체 */
.godo {
  font-family: 'Godo', Arial;
}

/* 스위트 */
.suite {
  font-family: 'SUITE-Regular', Arial;
}

/* 수트 */
.suit {
  font-family: 'SUIT-Regular', Arial;
}

/* 나눔바른고딕 */
.nanumbarungothic {
  font-family: 'NanumBarunGothic', Arial;
}

/* 나눔스퀘어 네오 */
.nanumsquareneo {
  font-family: 'NanumSquareNeo-Variable', Arial;
}

/* LINE Seed */
.lineseed {
  font-family: 'LINESeedKR-Bd', Arial;
}

/* 조선일보명조체 */
.chosunilbomyungjo {
  font-family: 'Chosunilbo_myungjo', Arial;
}

/* 엘리스디지털배움체 */
.elicedigitalbaeum {
  font-family: 'EliceDigitalBaeum-Bd', Arial;
}

/* 페이북 글꼴 */
.paybooc {
  font-family: 'paybooc-Bold', Arial;
}

/* 카페24 아네모네 에어 */
.cafe24ohsquareair {
  font-family: 'Cafe24Ohsquareair', Arial;
}

/* IBM Plex Sans */
.ibmplexsans {
  font-family: 'IBMPlexSansKR-Regular', Arial;
}

/* 학교안심 우주 */
.hakgyoansimwooju {
  font-family: 'HakgyoansimWoojuR', Arial;
}

/* D2Coding */
.d2coding {
  font-family: 'D2Coding', Arial;
}

/* 넥슨 Lv.1 고딕 */
.nexonlv1gothic {
  font-family: 'NEXON Lv1 Gothic OTF', Arial;
}

/* 넥슨 Lv.2 고딕 */
.nexonlv2gothic {
  font-family: 'NEXON Lv2 Gothic', Arial;
}

/* 베이글팻 */
.bagelfat {
  font-family: 'BagelFatOne-Regular', Arial;
}

/* 학교안심 뜀틀 */
.tthakgyoansimttwimteul {
  font-family: 'TTHakgyoansimTtwimteulR', Arial;
}

/* 학교안심 운동장 */
.tthakgyoansimundongjang {
  font-family: 'TTHakgyoansimUndongjangL', Arial;
}

/* 런드리고딕 */
.ttlaundrygothic {
  font-family: 'TTLaundryGothicB', Arial;
}

/* 와구리체 */
.wagurittf {
  font-family: 'WAGURITTF', Arial;
}

/* KCC한빛체 */
.kcchanbit {
  font-family: 'KCC-Hanbit', Arial;
}

/* Gmarket Sans */
.gmarketsans {
  font-family: 'GmarketSansMedium', Arial;
}

/* 여기어때 잘난체 고딕 */
.jalnangothic {
  font-family: 'JalnanGothic', Arial;
}

/* 롯데리아 촵땡겨체 */
.lotteriachab {
  font-family: 'LOTTERIACHAB', Arial;
}

/* 롯데리아 딱붙어체 */
.lotteriaddag {
  font-family: 'LOTTERIADDAG', Arial;
}

/* 학교안심 물결 */
.tthakgyoansimmulgyeol {
  font-family: 'TTHakgyoansimMulgyeolB', Arial;
}

/* 학교안심 산뜻돋움 */
.hakgyoansimsantteutdotum {
  font-family: 'HakgyoansimSantteutdotumL', Arial;
}

/* 학교안심 산뜻바탕 */
.hakgyoansimsantteutbatang {
  font-family: 'HakgyoansimSantteutbatangL', Arial;
}

/* 영주선비체 */
.yeongjuseonbi {
  font-family: 'YEONGJUSeonbiTTF', Arial;
}

/* 오뮤 다예쁨체 */
.omyupretty {
  font-family: 'omyu_pretty', Arial;
}

/* 강원교육모두체 */
.gangwonedu {
  font-family: 'GangwonEdu_OTFBoldA', Arial;
}

/* 학교안심 나무 */
.tthakgyoansimnamu {
  font-family: 'TTHakgyoansimNamuL', Arial;
}

/* 티몬체 */
.tmonmonsori {
  font-family: 'TmonMonsori', Arial;
}

/* 더잠실체 */
.thejamsil {
  font-family: 'TheJamsil5Bold', Arial;
}

/* 학교안심 몽글몽글 */
.tthakgyoansimmonggeulmonggeul {
  font-family: 'TTHakgyoansimMonggeulmonggeulR', Arial;
}

/* 가석체 */
.gaseokone {
  font-family: 'GasoekOne-Regular', Arial;
}

/* 국민연금체 */
.npsfont {
  font-family: 'NPSfontBold', Arial;
}

/* 잉크립퀴드체 */
.inklipquid {
  font-family: 'InkLipquid', Arial;
}

/* 학교안심 지우개 */
.tthakgyoansimjiugae {
  font-family: 'TTHakgyoansimJiugaeR', Arial;
}

/* 학교안심 곧은제목 */
.hakgyoansimgodeunjemok {
  font-family: 'HakgyoansimGodeunjemokB', Arial;
}

/* 학교안심 꼬꼬마 */
.tthakgyoansimkkokkoma {
  font-family: 'TTHakgyoansimKkokkomaR', Arial;
}

/* 학교안심 모험가 */
.tthakgyoansimmoheomga {
  font-family: 'TTHakgyoansimMoheomgaB', Arial;
}

/* 학교안심 붓펜 */
.hakgyoansimbutpen {
  font-family: 'HakgyoansimButpenB', Arial;
}

/* 프리젠테이션 */
.freesentation {
  font-family: 'Freesentation-9Black', Arial;
}

/* 인천교육자람체 */
.icejaram {
  font-family: 'iceJaram-Rg', Arial;
}

/* 인천교육소통체 */
.icesotong {
  font-family: 'iceSotong-Rg', Arial;
}

/* 인천교육시민체 */
.icesimin {
  font-family: 'iceSimin-Rg', Arial;
}

/* 인천교육힘찬체 */
.icehimchan {
  font-family: 'iceHimchan-Rg', Arial;
}

/* Rix이누아리두리네 */
.rixinooaridurir {
  font-family: 'RixInooAriDuriR', Arial;
}

/* KBO 다이아고딕체 */
.kbodiagothic {
  font-family: 'KBO-Dia-Gothic_bold', Arial;
}

/* 원스토어 모바일POP체 */
.onemobilepop {
  font-family: 'ONE-Mobile-POP', Arial;
}

/* 원스토어 모바일고딕 본문체 */
.onemobile {
  font-family: 'ONE-Mobile-Regular', Arial;
}

/* 원스토어 모바일고딕 제목체 */
.onemobiletitle {
  font-family: 'ONE-Mobile-Title', Arial;
}

/* 산하엽 */
.diphylleia {
  font-family: 'Diphylleia-Regular', Arial;
}

/* 던파 비트비트체 v2 */
.dnfbitbitv2 {
  font-family: 'DNFBitBitv2', Arial;
}

/* 던파 연단된 칼날 */
.dnfforgedblade {
  font-family: 'DNFForgedBlade', Arial;
}

/* 던파 비트비트체 */
.bitbit {
  font-family: 'bitbit', Arial;
}

/* 부크크 명조 */
.bookkmyungjo {
  font-family: 'BookkMyungjo-Bd', Arial;
}

/* 부크크 고딕 */
.bookkgothic {
  font-family: 'BookkGothic-Bd', Arial;
}

/* 강원교육튼튼체 */
.gangwonedupower {
  font-family: 'GangwonEduPowerExtraBoldA', Arial;
}

/* 강원교육새음체 */
.gangwonedusaeeum {
  font-family: 'GangwonEduSaeeum_OTFMediumA', Arial;
}

/* 강원교육현옥샘체 */
.gangwoneduhyeonokt {
  font-family: 'GangwonEduHyeonokT_OTFMediumA', Arial;
}

/* 시원한 설레임체 */
.seolleimcool {
  font-family: 'seolleimcool-SemiBold', Arial;
}

/* 능소화 */
.grandifloraone {
  font-family: 'GrandifloraOne-Regular', Arial;
}

/* 속초바다 돋움체 */
.sokchobadadotum {
  font-family: 'SokchoBadaDotum', Arial;
}

/* 속초바다 바탕체 */
.sokchobadabatang {
  font-family: 'SokchoBadaBatang', Arial;
}

/* 속초바다 손글씨체 */
.sokchobadacalligraphy {
  font-family: 'SokchoBadaCalligraphy', Arial;
}

/* 이사만루 */
.gonggothic {
  font-family: 'GongGothicMedium', Arial;
}

/* 모이라이 */
.moiraione {
  font-family: 'MoiraiOne-Regular', Arial;
}

/* 웨이브 파도체 */
.wavvepado {
  font-family: 'WavvePADO-Regular', Arial;
}

/* 검은고딕 */
.blackhansans {
  font-family: 'Black Han Sans', Arial;
}

/* 나눔스퀘어 */
.nanumsquare {
  font-family: 'NanumSquare', Arial;
}

/* 나눔고딕 */
.nanumgothic {
  font-family: 'Nanum Gothic', Arial;
}

/* 본고딕(Noto Sans) */
.notosanskr {
  font-family: 'Noto Sans KR', Arial;
}

/* JetBrains Mono */
.jetbrainsmono {
  font-family: 'JetBrains Mono', Arial;
}

/* Figtree */
.figtree {
  font-family: 'Figtree', Arial;
}

/* 나눔고딕코딩 */
.nanumgothiccoding {
  font-family: 'Nanum Gothic Coding', Arial;
}

/* Anta */
.anta {
  font-family: 'Anta', Arial;
}

/* Raleway */
.raleway {
  font-family: 'Raleway', Arial;
}

/* Raleway Dots */
.ralewaydots {
  font-family: 'Raleway Dots', Arial;
}

/* Montserrat */
.montserrat {
  font-family: 'Montserrat', Arial;
}

/* Poor Story */
.poorstory {
  font-family: 'Poor Story', Arial;
}

/* Madimi One */
.madimione {
  font-family: 'Madimi One', Arial;
}

/* Reddit Mono */
.redditmono {
  font-family: 'Reddit Mono', Arial;
}

/* Rubik Scribble */
.rubikscribble {
  font-family: 'Rubik Scribble', Arial;
}

/* Nunito Sans */
.nunitosans {
  font-family: 'Nunito Sans', Arial;
}

/* Oswald */
.oswald {
  font-family: "Oswald", Arial;
}

/* Workbench */
.workbench {
  font-family: 'Workbench', Arial;
}

/* Platpi */
.platpi_300 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.platpi_400 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.platpi_500 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.platpi_600 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.platpi_700 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.platpi_800 {
  font-family: 'Platpi', Arial;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
